<!DOCTYPE html>
<html>
<head>
	<title>Sound Vote</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

	<link rel="icon" href="soundVote.png" type="image/png">
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="app.css">
  <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <!-- nav bar class will dispay a collapsable bar of pages -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container">
	  <!-- fa class is a font awesome icon provider from the above link to font awesome -->
	  <a class="navbar-brand"><span class="fa fa-music"></span> Sound Vote</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item ">
	      	
          <!-- active defines which page title is hilighted -->
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="soundSpot">Sound Spots</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="about">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="map">Map</a>
	      </li>
	    </ul>
	    <ul class="navbar-nav navbar-right">
	    	<%	if(!currentUser){ %>
	    	<li><a class="nav-link" href="signup">Sign Up <i class="fa fa-user-plus"></i></a></li>
	      <li><a class="nav-link" href="login">Log In <i class="fa fa-user"></i></a></li>
		<%	} else {	  %>  
					<li><a href="#" class="nav-link" >Signed in As <%= currentUser.username %></a> </li>

	 		<li><a class="nav-link" href="logout">Logout <i class="fa fa-user-plus"></i></a></li>
		<%	} %>
	    </ul>
	  </div>
	</div>
</nav>

<!-- from that will create a new user account bases on if that users email is alreadd in the system or not, then the express sytem will create the user and log them in -->
 <div id="signup-content" class="signup">
 	<form class="s" action ="/signup" method="POST">
 	  	<input type="hidden" class="form-control" name="latitude" id="latitude">
				<input type="hidden" class="form-control" name="longitude" id="longitude">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">User Name</label>
      <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="User Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" class="form-control" id="inputCity" placeholder="City">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" name="state" class="form-control">
        <option selected>Choose...</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" name="zip" class="form-control" id="inputZip" placeholder="Zip">
      
    </div>
  </div>
      
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
 </div>
	
</div>
<!-- this will have a company styled footer with links to details and to specific pages that would typically be in a footer -->
<footer class="footer-wrap">
	<div class="container">
		
	</div>
</footer>
<p id="demo"></p>
<script>
  
  var x = document.getElementById("demo");
var lat, long;
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(logPosition);
       
        
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";}
    }
    function logPosition(position) {
     lat = position.coords.latitude;
     long = position.coords.longitude;
     
     document.forms[0].latitude.value = lat;
     document.forms[0].longitude.value = long;
    }
     window.onload=getLocation;
</script>


<!-- this is source code to the java script neccessary to use boot strapping, and the bootstrapping needs to have the propper jquery link placed before the bootstrap link, because the jquery needs to be established before the bootstrap.  -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</body>
</html>